{% extends 'base.html' %}

{% block content %}

<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
  <div class="header-carousel-item">
      <img src="media/dashboard_images/dashboard_img.jpeg" class="img-fluid w-100" alt="Image">
      <div class="carousel-caption">
          <div class="carousel-caption-content p-3">
              <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">FOR THE LOVE OF CARE</h5>
              <h1 class="display-5 text-white mb-4" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">Our global population is aging and there is a shortage of caregivers in many countries. Families
                 are going to play a massive role in caring for their loved ones, as many prefer to stay in their own homes.
              </h1>
              <p class="mb-5 fs-5">With the use of virtual characters/digital humans, we want to provide immersive and lifelike training, empowering 
                families and incividuals by giving them the basic care skilld needed to care for their loved ones at home.
              </p>
              <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Get In Touch</a>
          </div>
      </div>
  </div>
<!-- Carousel End -->

<!-- Showcase -->
<!--<section class="p-5 p-lg-0 text-center text-white text-sm-start" style="background-color: rgb(122, 81, 151);">
    <br><div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <p class="lead my-4">
                  <h1 style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">FOR THE LOVE OF CARE</h1>
                  <h4>Our global population is aging.<br>
                    A vast majority of our aging population prefer to stay in their own homes than move into a care home.
                    Many countries are facing a shortage of caregivers.
                  </h4><br>
                  <p>
                    CareVR - Our virtual reality care training platform will offer fun and effective training for those with a heart for caring.<br>

                    Empowering families and individuals by giving them the basic care skills needed to care for their loved ones at home.
                  </p>
                  <h3>
                    How we Envisage the Future of Care Training...
                  </h3>
                </p>
            </div>
            
        </div>
    </div>

</section>-->


<!-- Services Start -->
<div class="container-fluid service py-5">
  <div class="container py-5">
      <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
          <div class="sub-style">
              <h4 class="sub-title px-3 mb-0" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">Our Services...</h4>
          </div>
          <h5 class="display-5 mb-4" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">Empowering families and individuals by giving them the basic care skills needed to care for their loved ones at home.</h5>
          
      </div>
      <div class="row g-4 justify-content-center">
          <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item rounded">
                 <div class="service-img rounded-top">
                      <img src="media/dashboard_images/community lounge.webp" class="img-fluid rounded-top w-100" alt="">
                 </div>
                  <div class="service-content rounded-bottom bg-light p-4">
                      <div class="service-content-inner">
                          <h5 class="mb-4" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">Community Lounge</h5>
                          <p class="mb-4">We understand the importance of connecting and sharing experiences with other 
                            families or individuals going through the same challenges, and how valuable this support can be.</p>
                        
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item rounded">
                 <div class="service-img rounded-top">
                      <img src="media/dashboard_images/family care.webp" class="img-fluid rounded-top w-100" alt="">
                 </div>
                  <div class="service-content rounded-bottom bg-light p-4">
                      <div class="service-content-inner">
                          <h5 class="mb-4" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">Family Carer</h5>
                          <p class="mb-4">We believe that every one of us has the potential to be a carer. We want to help families 
                            come together and give them basic care skills to care for their loved ones at home.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item rounded">
                 <div class="service-img rounded-top">
                      <img src="media/dashboard_images/corporate care.webp" class="img-fluid rounded-top w-100" alt="">
                 </div>
                  <div class="service-content rounded-bottom bg-light p-4">
                      <div class="service-content-inner">
                          <h5 class="mb-4" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">Corporate Care</h5>
                          <p class="mb-4">We partner and work with companies, helping their employees balance work and caregiving.</p>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
<!-- Services End -->


<!-- About Start -->
<div class="container-fluid about bg-light py-5">
  <div class="container py-5">
      <div class="row g-5 align-items-center">
          <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
              <div class="about-img pb-5 ps-5">
                  <img src="media/item_images/Photo1.jpg" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
              </div>
          </div>
          <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
              <div class="section-title text-start mb-5">
                  <h4 class="sub-title pe-3 mb-0" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">About Us</h4>
                  <h1 class="display-4 mb-4" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">It's about family.</h1>
                  <p class="mb-4">Shumira Care was founded 2017 by Tariro and Esther. Their aim was to provide home care in their local community after witnessing how families
                     often feel ill-equipped and overwhelmed when their loved one suddenly needs care at home. It was during this time that they met families who were struggling 
                     to find home carers, and unable to provide basic care for their loved one themselves. They witnessed the importnace of person centred, quality care, and the 
                     impact it can have on individuals and their loved ones.
                  </p>
                  <p class="mb-4">More recently, Tariro and Esther had the privilege of coming together with their family to provide 24/7 care for Esther's Grndfather in his home, 
                    until he sadly passed away. While this can be a daunting prospect, the fact is that many families will have to face this in the future,
                    and Shumira Care wants to help.
                 </p>
                  <div class="mb-4">
                      <p class="display-6 text-secondary"><i class="fa fa-check text-primary me-2"></i> Our mission is to champion quality care, and make training easily accessible to anyone.</p>
                      <p class="display-6 text-secondary"><i class="fa fa-check text-primary me-2"></i> Our vision is to see a transformation in the way we approach care.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About End -->


<!-- Boxes -->
<div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
  
<section class="p-5">
    <div class="container">
        <h1 style="color: rgb(122, 81, 151); font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 800;">Our Blog</h1><br>
        <div class="row text-center g-4">
            
            {% for item in items %}
            <div class="col-md-4">
                <div class="mb-4">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}"
                        style="max-width: 100%; max-height: 300px;">
                    {% else %}
                    <div class="card-img-top bg-secondary text-white text-center py-3">
                        No Image Available
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title" style="color: rgb(47, 47, 87); font-weight: 800;">{{ item.title }}</h4>
                        <a href="{% url 'item-details' item.id %}" class="btn btn-light mt-3">
                            <i class="bi"></i> Read More
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

</section>




<!-- Footer -->
<footer class="p-2 bg-dark text-white text-center position-relative">
  <!-- Topbar Start -->
  <div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center" style="height: 45px;">
        <div class="col-lg-8 text-center text-lg-start mb-lg-0">
            <div class="d-flex flex-wrap">
                <a href="#" class="text-light me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+01234567890</a>
                <a href="#" class="text-light me-0"><i class="fas fa-envelope text-primary me-2"></i>tariro.kanyemba@hotmail.com</a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-flex align-items-center justify-content-end">
                <a href="https://www.facebook.com/shumiracare" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/Shumira_care" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/shumira-care-57a864265/" class="btn btn-light btn-square border rounded-circle nav-fill me-0"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
</footer>




{% endblock content %}