{% extends 'users/base.html' %}

{% block content %}

<style>
    body {
        background: url('/media/shumira_logo/shumira_image.png') no-repeat center center fixed;
        background-size: cover;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
        
    <a class="navbar-brand" href="#">Shumira Care</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <a href="{% url 'login' %}" class="btn btn-dark me-2">Login</a>
    </div>
</nav>
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password.
    </div>
{% endblock content %}