{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background: url('/media/shumira_logo/no_image.png') no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body p-3 mb-2 bg-light text-dark">
            <div class="d-flex align-items-center mb-3">
                <a class="navbar-brand mx-auto text-center">
                    <img src="/media/shumira_logo/shumira_image.png" alt="App Logo" height="200" class="d-inline-block align-text-top">
                </a>
            </div>

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark mb-3 w-100" style="background-color:rgb(122, 81, 151);">Register</button>

            </form>

            {% for message in messages %}
            <div>
                {{ message }}
            </div>
            {% endfor %}

            <div class="border-top pt-3">
                <small class="text-muted">Already have an account? <a class="ml-2"
                        href="{% url 'login' %}">Login</a></small>
            </div>

        </div>
    </div>
</div>
{% endblock content %}